- @search_layout.columns.each do |column|
  - column.rows.each do |row|
    - result = @results[row.source]
    - if result
      - warning = row.warning
      .nested_result_set{:data => {'source' => row.source}}
        = render partial: "/spectrum/aggregate/result_header", locals: {source: row.source, result: result, title: row.title, description: row.description, warning: warning}
        = render partial: '/datasource_warning', locals: {warning: warning}
        = render partial: '/summon_warning' if row.render_options['format'] == 'article'

        = render partial: "/spectrum/aggregate/result_docs", locals: {result: result, render_opts: row.render_options, row_opts: row.row_opts}
        - if row.display_footer
          = render partial: "/spectrum/aggregate/result_footer", locals: {result: result}
